@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar-thumb {
  background-color: #128C7E; /* Set your desired color */
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-track {
  background-color: #F1F1F1; /* Set your desired color */
}

/* Style the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(203, 161, 223); /* Set your desired color */
}

/* Style the scrollbar corner (optional) */
::-webkit-scrollbar-corner {
  background-color: #ffffff; /* Set your desired color */
}



.chatBubble {
  display: block; /* Change from inline-block to block */
  max-width: 50%;
  min-width: 10%;
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
  
}

.sender-chat-bubble {

  color: #FFFFFF;
  float: right;
  border-radius: 10px 0px 20px 10px ;
}

.receiver-chat-bubble {
  background-color: #E1E1E1;
  color: #000000;
  border-radius: 0 10px 10px  20px ;
  float: left;
}
.bg-home{
  background-image: url('/chatwave/public/bg.jpg');
  background-size:cover;
}
.bg-chat{
  background-image: url('/chatwave/public/bg.jpg');
  background-size: "cover";
  width: 74vw;
}